{% extends "layout.html" %}

{% block content %}

<h2>{{ Concact  }}</h2>
<h3>{{ message }}</h3>


<div class="largetron" style="background-color: aqua">


    <div class="d-flex flex-row-reverse bg-secondary">
        <h1 style="font-family: David" color="lightsalmon"> About the project</h1>
    </div>
</div>

<p style="font-family: David"> The project is part of our computer science studies at the 10th grade in Tichonet high school.</p>
<p> </p>
<p style="font-family: David">The project is part of our final Bagrut and part of the study phase this year in data science class.</p>
<p style="font-family: David">  The project combines all the elements we learned this year and presents them on one web page that contains several pages</p>
<p> </p>
<p style="font-family: David"> The elements we used in the project are: </p>
<ul style="list-style-type:square;" ">
    <li style="font-family: David" >Flask</li>
    <li style="font-family: David">wtf</li>
    <li style="font-family: David">Pandas</li>
    <li style="font-family: David">Bootstrap</li>
</ul>
<p style="font-family: David"> In the project, I located databases on Kaggle.com and downloaded them into the computer. I analyzed them
    and presented them in an easy way that when every person sees that he can easily understand and draw conclusions himself.</p>
<p style="font-family: David"> Through the project, I learned how to learn on my own and find information online on my own </p>
<p style="font-family: David"> The end result of the project is an available website that is pleasing to the eye and easy to understand for any user </p>

{% endblock %}
