{% extends "layout.html" %}

{% block content %}

<div class="largetron" style="background-color: plum">


    <div class="d-flex flex-row-reverse bg-secondary">
        <h1 style="font-family: David" > Contact Me 💖</h1>
    </div>
</div>
<h1>

    <strong style="font-family:'David'">Gmail:</strong>  <a style="font-family:David" href="parismaman6@gmail.com">parismaman6@gmail.com</a><br />
    <strong style="font-family:'David'">Phone number:</strong>  <a style="font-family:David" href="parismaman6@gmail.com">052-957-4727</a><br />
</h1>

{% endblock %}
