{% extends "layout.html" %}

{% block content %}

    <div class="largetron" style="background-color: deepskyblue">


        <div class="d-flex flex-row-reverse bg-secondary">
            <h1 style="font-family:David" ;>Data Model</h1>
        </div>
    </div>
<h2 class="heb" style="font-family:David" ;>On this page, we will describe the data pages and resort them</h2>
<h3></h3>

<td>
    <img src="https://cdn.vox-cdn.com/thumbor/JMQIHKRT9nIUJEWYYr9kTVCO2TA=/1400x0/filters:no_upscale()/cdn.vox-cdn.com/uploads/chorus_asset/file/6728613/salary_max_3.0.jpg" width="250" height="200">

</td>
<td>
    <img src="https://www.nba.com/lakers/sites/lakers/files/1200x628_capsules_james.jpg" width="250" height="200">
    
</td>
<td>
    <img src="https://db0ip7zd23b50.cloudfront.net/dims4/default/cce650c/2147483647/resize/633x10000%3E/quality/90/?url=http%3A%2F%2Fbloomberg-bna-brightspot.s3.amazonaws.com%2F3d%2Fb6%2F9088f42c4fb98f3af13039ec22be%2Fcurry-salary.png" width="250" height="200">
    
</td>
<td>
    <img src="https://img.bleacherreport.net/img/images/photos/003/832/326/hi-res-04578b5a43e3ff9c548403018ebd0909_crop_north.jpg?1570666954&w=3072&h=2048" width="250" height="200">

</td>
    
<br />
<br />
<br />
<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders"><a href="{{ url_for('NBA_salary') }}" style="font-family:David" ;>NBA salary</a></div>
    <div class="col-md-5 my-grid-borders">
        <h2 ckass="heb" style="font-family:David" ;>דף הדאטה של טראמפ</h2>
    </div>
</div>



{% endblock %}

