{% extends "layout.html" %}

{% block content %}

<style>
    td, tr, table {
        font-size: 22px
    }

    h2 {
        position: relative;
        left: 450px;
    }
</style>

<div class="largetron" style="background-color: orchid">


    <div class="d-flex flex-row-reverse bg-secondary">
        <h1 style="font-family: David";> Login to data analysis 🔍</h1>
    </div>
</div>
<div class="row" style="        background-image: url('https://medias.timeout.co.il/www/uploads/2017/10/Vince-CarterT-750x500.jpg');
        background-size: 100% 100%;
        color: lightcyan">


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for message in messages %}
    <h4 style="color:red">{{ message[1] }}</h4>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <br />

    <form method=post>
        {{ form.csrf }}
        {{ form.csrf_token }}
        <table>
            <tr>
                <td style="font-family: David";>
                    {{ form.username.label }}
                </td>
                <td>
                    {{ form.username }}
                </td>
                <td>
                    {% if form.username.errors %}
                    <ul class="text-danger">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-family: David";>
                    {{ form.password.label }}
                </td>
                <td>
                    {{ form.password }}
                </td>
                <td>
                    {% if form.password.errors %}
                    <ul class="text-danger">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td style="font-family: David";>
                    <div class="input submit">
                        <input type="submit" value="Login">
                    </div>
                <td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
    {% endblock %}
