{% extends "layout.html" %}

{%block content %}

    <div class="largetron" style="background-color: orange">

        
        <div class="d-flex flex-row-reverse bg-secondary">
            <h1 style="font-family:David" ;>The best 12 NBA players of the decade 📷</h1>
        </div>
    </div>

<style type="text/css">
    body {
        background-color: whitesmoke;
    }

    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;

        width: 100%;
    }

    th {
        height: 50px;
    }
</style>

<table>
    <tr>
        <td>
            <img src="https://ca-times.brightspotcdn.com/dims4/default/3964efc/2147483647/strip/true/crop/3548x2516+0+0/resize/840x596!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fcf%2F67%2F74ef656743528f2f9f7ce02d8dc1%2Fla-photos-1staff-477386-sp-0107-lakers-knicks4-wjs.jpg" width="350" height="250">
            <p style="font-family:'David'" ;>1. LeBron James</p>
        </td>
        <td>
            <img src="https://i.insider.com/5beca3d0b73c2804b960495a?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="font-family:'David'" ;>2. Kevin Durant</p>
        </td>
        <td>
            <img src="https://i.insider.com/5df3cb74fd9db236b645234c?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="font-family: 'David'" ;>3. Stephen Curry</p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://i.insider.com/5df3c3fcfd9db27f81242159?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="font-family:'David'" ;>4. James Harden</p>
        </td>
        <td>
            <img src="https://i.insider.com/5df2a9bafd9db23eba7d693b?width=700&amp;format=jpeg&amp;auto=webp" width="350" height="250">
            <p style="font-family:'David'" ;>5. Kawhi Leonard</p>
        </td>
        <td>
            <img src="https://i.insider.com/5df2a485fd9db239a254e5b8?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="        font-family: 'David'" ;>6. Russell Westbrook</p>

        </td>
    </tr>
    <tr>
        <td>
            <img src="https://i.insider.com/5df400e0fd9db23e68223c08?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="font-family:'David'" ;>7. Chris Paul</p>
        </td>
        <td>
            <img src="https://i.insider.com/5df01698fd9db2548808e552?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="font-family:'David'" ;>8. Giannis Antetokounmpo</p>
        </td>
        <td>
            <img src="https://i.insider.com/5df01f8afd9db26c864f8b73?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="font-family:'David'" ;>9. Anthony Davis</p>
        </td>
    </tr>
    <tr>
        <td>
            <img src="https://i.insider.com/5df29f23fd9db2343a5b4d73?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="font-family:'David'" ;>10. Blake Griffin</p>
        </td>
        <td>
            <img src="https://i.insider.com/5df0138afd9db25f493d9366?width=700&format=jpeg&auto=webp" width="350" height="250">
            <p style="font-family:'David'" ;>11. Paul George</p>

        </td>
        <td>
            <img src="https://image-cdn.essentiallysports.com/wp-content/uploads/20200209190849/damian-lillard-1.jpg" width="350" height="250">
            <p style="font-family:David" ;>12. Damian Lillard</p>

        </td>
    </tr>
</table>
<head />

{% endblock %}
