﻿{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="largetron" style="background-color: lightpink">


        <div class="d-flex flex-row-reverse bg-secondary">
            <h1 style="font-family: David"> Data Query</h1>
        </div>
    </div>

    <h7 style="font-family: David">
        This is the data query page. On this page you can view the data visually by Players and their salary against their other players.
        You can also see if the salary is actually rewarding by comparing between multiple players and the money the get for a mintute playing,
        the number of games they played in that season and the amout of time they actually played in that season (in minutes).
        To make the best conclusions, I suggest choosing the players: Lebron Jmes, witch you probobly know and 	Tyler Lydon, witch you probobly didn't
        hear about and see why, plus to see the differences
        between the salaries
    </h7>
<form method=post>
    {{ form.csrf }}
    <table>
        <tr>
            <td class="input text"> {{ form.Players.label }} </td>
            <td>                    {{ form.Players }}       </td>
        </tr>
        <tr>
            <td class="input text"> {{ form.Parameters.label }} </td>
            <td>                    {{ form.Parameters }}       </td>
        </tr>
        <tr>
            <td class="input submit"> <input type="submit" value="Search"> </td>
        </tr>
    </table>
</form>


<div class="row">
    <div class="col-md-8">
        <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>
    </div>
</div>




            {% endblock %}
