﻿{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>Data Query Page</h2>
<h7>
    This is the data query page. On this page you can view the data visually by dates and countries.
    The epidemic start date presented by the database is August 2014 and the end of the data is March 2016.
    To make the best conclusions, I suggest choosing the countries: Sierra Leone and Guinea
    Most countries contain almost no deaths.
</h7>
<form method=post>
    {{ form.csrf }}
    <table>
        <tr>
            <td class="input text"> {{ form.Players.label }} </td>
            <td>                    {{ form.Players }}       </td>
        </tr>
        <tr>
            <td class="input text"> {{ form.Parameters.label }} </td>
            <td>                    {{ form.Parameters }}       </td>
        </tr>
        <tr>
            <td class="input submit"> <input type="submit" value="Search"> </td>
        </tr>
    </table>
</form>


<div class="row">
    <div class="col-md-8">
        <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>
    </div>
</div>




            {% endblock %}
